.modal_title {
    color: var(--grey-grey-800, #383E49);

    /* Sub heading/Medium */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    font-family: "Open Sans", sans-serif;
}

.modal_label {
    color: var(--grey-grey-700, #48505E);

    /* Body 1/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    font-family: "Open Sans", sans-serif;
}

.add_product_form {

    
        
}
