.summary {
    width: 100%;
    max-width: 410px;
    border-radius: 8px;
    background: #FFF;
    padding: 20px 16px 25px 16px;

    &_header {
        color: var(--grey-grey-800, #383E49);
        margin-bottom: 22px;

        /* Sub heading/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
        font-family: 'Open Sans', sans-serif;
    }

    &_info {
        &_list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            
            &_item {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                display: flex;
                flex-direction: column;
                height: auto;
                max-height: 66px;
                min-width: 150px;

                padding-right: 20px;
                padding-left: 20px;
                border-right: 1px solid #F0F1F3;

                &:nth-last-child(1){
                    border-right: none;
                }

                &_img {
                    margin-bottom: 12px;
                }

                &_info {
                    width: auto;
                    display: flex;
                    justify-content: space-between;
                    color: #444;

                    /* Body 2/Medium */
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                    font-family: 'Open Sans', sans-serif;

                    
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}



@media (max-width: 465px) {
    .summary {
        width: auto
    };
}